@import "~bootstrap/scss/bootstrap";

.carousel-caption {
    top: 40px;
    width: 300px;
}

.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
    width: 100%;
}
.navbar-nav > li {
    float: none;
    display: table-cell;
    width: 16.66%;
    vertical-align: middle;
}
.navbar-nav > li > a {
    text-align: center;
}
.navbar-nav > li > a:hover {
    background-color: black;
    color: white;
}
.card > a {
    text-decoration: none;
    color: black;
}
.btn-more,
.btn-reg {
    border-radius: 0;
}
.shadow {
    box-shadow: 0px 12px 6px -6px black;
}
.btn-reg {
    background-color: black;
    color: white;
}
.hero-image {
    height: 305px;
    width: 610px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}
.pagination > li > .page-link {
    color: black;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: black;
    border-color: black;
    color: white;
}
